xml-and-json/Reference.json
{"flowContents":{"identifier":"84108fc7-6d8e-3e31-9332-90a8363763df","name":"Reference","comments":"","position":{"x":264.0,"y":728.0},"processGroups":[{"identifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Product Ref","comments":"","position":{"x":944.0,"y":280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","name":"GenerateFlowFile","comments":"","position":{"x":288.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"6609fe51-9676-3887-bf31-687ff2e4c965","name":"ReplaceText","comments":"","position":{"x":1056.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"INSERT","Replacement Value":"UPSERT","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"f1552a8e-c0b1-318f-a663-44bc3965290f","name":"Pull-From-S3","comments":"","position":{"x":288.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${file_location}/product_ref.txt","Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"${username}","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"50b2dfb7-1bab-31b3-8a33-a001bfad1806","name":"PutSQL","comments":"","position":{"x":1048.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"811312cb-c50a-305e-9579-b26be02858b7","name":"ConvertJSONToSQL","comments":"","position":{"x":1064.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"PRODUCT_REF","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"311c54ee-9a65-3a98-b85d-07bcef85c73f","name":"ConvertRecord","comments":"","position":{"x":296.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2bfb8403-7d6c-3e64-9bfc-e54a02379cdd","name":"","source":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Pull-From-S3","comments":""},"destination":{"id":"311c54ee-9a65-3a98-b85d-07bcef85c73f","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"45f12474-698d-31e4-a555-73de1be4b894","name":"","source":{"id":"6609fe51-9676-3887-bf31-687ff2e4c965","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ReplaceText","comments":""},"destination":{"id":"50b2dfb7-1bab-31b3-8a33-a001bfad1806","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"aa116414-6ff9-3772-b3aa-c051161e6a5a","name":"","source":{"id":"811312cb-c50a-305e-9579-b26be02858b7","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"bd50e108-4a9a-3bdb-ace2-015dcba004a9","type":"FUNNEL","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"56f45803-9d0e-30f7-8ff3-e99efc21c792","name":"","source":{"id":"50b2dfb7-1bab-31b3-8a33-a001bfad1806","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"PutSQL","comments":""},"destination":{"id":"50b2dfb7-1bab-31b3-8a33-a001bfad1806","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1510.9999894293817,"y":455.49992839422544},{"x":1510.9999894293817,"y":505.49992839422544}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"acbbf7e8-589a-30a9-b927-e2b22825a241","name":"","source":{"id":"811312cb-c50a-305e-9579-b26be02858b7","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"a7beef92-b3f4-3e5e-9ccd-77fc18dbaaa3","type":"FUNNEL","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"b85cc85e-536d-3850-b742-a76a118386ff","name":"","source":{"id":"50b2dfb7-1bab-31b3-8a33-a001bfad1806","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"PutSQL","comments":""},"destination":{"id":"b95b2f69-fb02-3fa6-8fec-aaccd830dad4","type":"FUNNEL","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"e185b3b6-0d48-35e1-b999-91a71157c3c9","name":"","source":{"id":"811312cb-c50a-305e-9579-b26be02858b7","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"6609fe51-9676-3887-bf31-687ff2e4c965","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"9b4d985b-393c-3383-bfda-c10754331176","name":"","source":{"id":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"GenerateFlowFile","comments":""},"destination":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"Pull-From-S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"65a5598d-7228-3757-adc2-74cb6530ae92","name":"","source":{"id":"311c54ee-9a65-3a98-b85d-07bcef85c73f","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertRecord","comments":""},"destination":{"id":"811312cb-c50a-305e-9579-b26be02858b7","type":"PROCESSOR","groupId":"321d4b08-67d3-3eeb-8501-1157ecb9379e","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"}],"labels":[],"funnels":[{"identifier":"b95b2f69-fb02-3fa6-8fec-aaccd830dad4","position":{"x":1552.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"a7beef92-b3f4-3e5e-9ccd-77fc18dbaaa3","position":{"x":1784.0,"y":912.0},"componentType":"FUNNEL","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"f4ed049f-e667-3e65-9c04-66c25be4692b","position":{"x":1368.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"bd50e108-4a9a-3bdb-ace2-015dcba004a9","position":{"x":1224.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"},{"identifier":"0f04fe8b-3839-3647-a7fd-8f7d16e59939","position":{"x":1336.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"321d4b08-67d3-3eeb-8501-1157ecb9379e"}],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"},{"identifier":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Store","comments":"","position":{"x":488.0,"y":280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","name":"GenerateFlowFile","comments":"","position":{"x":288.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"b3eccbb6-7215-3482-a15d-c78e3c5b4b3e","name":"ReplaceText","comments":"","position":{"x":1056.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"INSERT","Replacement Value":"UPSERT","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"b902b5ac-41bd-3506-8ea5-01ae1411b4df","name":"PutSQL","comments":"","position":{"x":1048.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"3ff214db-1507-352e-a89d-9a7076475cb5","name":"ConvertRecord","comments":"","position":{"x":296.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"f1552a8e-c0b1-318f-a663-44bc3965290f","name":"Pull-From-S3","comments":"","position":{"x":288.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${file_location}/store.txt","Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"${username}","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"7c57b0cd-f41c-3758-85c1-345eaca30601","name":"ConvertJSONToSQL","comments":"","position":{"x":1064.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"STORE","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ebdf824f-a745-3f07-bd38-a9ddf94fc597","name":"","source":{"id":"3ff214db-1507-352e-a89d-9a7076475cb5","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertRecord","comments":""},"destination":{"id":"7c57b0cd-f41c-3758-85c1-345eaca30601","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"459693e8-b8c0-3e9a-80c6-c29e3d29f806","name":"","source":{"id":"b3eccbb6-7215-3482-a15d-c78e3c5b4b3e","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ReplaceText","comments":""},"destination":{"id":"b902b5ac-41bd-3506-8ea5-01ae1411b4df","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"045ce1e6-59f5-3bd1-bf15-904477acbcf6","name":"","source":{"id":"7c57b0cd-f41c-3758-85c1-345eaca30601","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"b3eccbb6-7215-3482-a15d-c78e3c5b4b3e","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"5ed6e6e9-fbd5-3c8a-b337-2fa23a114705","name":"","source":{"id":"b902b5ac-41bd-3506-8ea5-01ae1411b4df","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"PutSQL","comments":""},"destination":{"id":"b902b5ac-41bd-3506-8ea5-01ae1411b4df","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1510.9999894293817,"y":455.49992839422544},{"x":1510.9999894293817,"y":505.49992839422544}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"9d981faf-a3b2-31aa-a5a8-847e65ba82cc","name":"","source":{"id":"7c57b0cd-f41c-3758-85c1-345eaca30601","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"b7f90c89-d995-3d1b-b399-de796a8f4c85","type":"FUNNEL","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"05b849c5-2ba4-3738-9109-92a43c578308","name":"","source":{"id":"b902b5ac-41bd-3506-8ea5-01ae1411b4df","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"PutSQL","comments":""},"destination":{"id":"9b40bac2-8e79-3898-bb39-7f94696b2857","type":"FUNNEL","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"1426e606-1c6f-3e17-8d21-d0210ba13c5e","name":"","source":{"id":"7c57b0cd-f41c-3758-85c1-345eaca30601","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"b283bf9a-6475-39ae-a874-d4589b39eab9","type":"FUNNEL","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"e6056eb1-0ce6-3075-b11a-9d881a229d36","name":"","source":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Pull-From-S3","comments":""},"destination":{"id":"3ff214db-1507-352e-a89d-9a7076475cb5","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"9b4d985b-393c-3383-bfda-c10754331176","name":"","source":{"id":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"GenerateFlowFile","comments":""},"destination":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"08efb836-febb-38b3-a319-6d93af853dd0","name":"Pull-From-S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"}],"labels":[],"funnels":[{"identifier":"b283bf9a-6475-39ae-a874-d4589b39eab9","position":{"x":1784.0,"y":912.0},"componentType":"FUNNEL","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"8fd12c28-ea59-3fd2-89fd-f89924998765","position":{"x":1368.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"eb5f40bc-7ff6-374f-9559-68c40529aa0c","position":{"x":1336.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"9b40bac2-8e79-3898-bb39-7f94696b2857","position":{"x":1552.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"},{"identifier":"b7f90c89-d995-3d1b-b399-de796a8f4c85","position":{"x":1224.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"08efb836-febb-38b3-a319-6d93af853dd0"}],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"},{"identifier":"483e8a21-0de4-3281-883f-744dfc08edca","name":"customer","comments":"","position":{"x":16.0,"y":280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"100f5463-9da1-3e92-8147-8f722dd72833","name":"ReplaceText","comments":"","position":{"x":1056.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"INSERT","Replacement Value":"UPSERT","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","name":"GenerateFlowFile","comments":"","position":{"x":288.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"270f415a-f36f-31de-a206-e3f6be094a73","name":"ConvertJSONToSQL","comments":"","position":{"x":1064.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"CUSTOMER","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"08b5b1ba-0ed0-3c45-bfa8-be7f80e8e6a5","name":"ConvertRecord","comments":"","position":{"x":296.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"f1552a8e-c0b1-318f-a663-44bc3965290f","name":"Pull-From-S3","comments":"","position":{"x":288.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${file_location}/customer.txt","Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"${username}","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"c5c057a1-c337-31d6-83cc-51a33b5d9ad1","name":"PutSQL","comments":"","position":{"x":1048.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"db1ab0d2-b561-37a4-9e25-a91af83ae6bc","name":"","source":{"id":"270f415a-f36f-31de-a206-e3f6be094a73","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"100f5463-9da1-3e92-8147-8f722dd72833","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"f3a4a2e7-c311-3f18-9579-1684488e5433","name":"","source":{"id":"270f415a-f36f-31de-a206-e3f6be094a73","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"95d7507f-0cb1-3a9e-8568-2f28630696ae","type":"FUNNEL","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"c516f19a-002e-3b27-9cfa-ce6b1e4ecc79","name":"","source":{"id":"c5c057a1-c337-31d6-83cc-51a33b5d9ad1","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"PutSQL","comments":""},"destination":{"id":"c5c057a1-c337-31d6-83cc-51a33b5d9ad1","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1510.9999894293817,"y":455.49992839422544},{"x":1510.9999894293817,"y":505.49992839422544}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"5bb42726-84f9-3c22-9b78-38c22a2efeda","name":"","source":{"id":"270f415a-f36f-31de-a206-e3f6be094a73","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"9205d183-44e3-3329-a0c0-44211c871c07","type":"FUNNEL","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"3e861135-ac5a-3645-ac48-b621c721d59d","name":"","source":{"id":"08b5b1ba-0ed0-3c45-bfa8-be7f80e8e6a5","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertRecord","comments":""},"destination":{"id":"270f415a-f36f-31de-a206-e3f6be094a73","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"fae152d3-2252-3be4-8b4b-e12488d9d212","name":"","source":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Pull-From-S3","comments":""},"destination":{"id":"08b5b1ba-0ed0-3c45-bfa8-be7f80e8e6a5","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"b47ddae3-7d5e-38d8-89f3-65cc1e36a488","name":"","source":{"id":"c5c057a1-c337-31d6-83cc-51a33b5d9ad1","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"PutSQL","comments":""},"destination":{"id":"ac3a3213-b21c-3ff1-8df4-0c935cfa9cad","type":"FUNNEL","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"9b4d985b-393c-3383-bfda-c10754331176","name":"","source":{"id":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"GenerateFlowFile","comments":""},"destination":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Pull-From-S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"eb4cf37a-f6de-37fa-bdbb-cd233906f283","name":"","source":{"id":"100f5463-9da1-3e92-8147-8f722dd72833","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"ReplaceText","comments":""},"destination":{"id":"c5c057a1-c337-31d6-83cc-51a33b5d9ad1","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"labels":[],"funnels":[{"identifier":"95d7507f-0cb1-3a9e-8568-2f28630696ae","position":{"x":1784.0,"y":912.0},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"3badc971-4b82-3a3a-8704-2811740da84a","position":{"x":1336.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"cb51d418-8909-37ec-b1bd-5be6f6a78708","position":{"x":1368.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"9205d183-44e3-3329-a0c0-44211c871c07","position":{"x":1224.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"ac3a3213-b21c-3ff1-8df4-0c935cfa9cad","position":{"x":1552.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"controllerServices":[{"identifier":"d81d7216-5d8b-309c-9436-c2428b6a2488","name":"CSVRecordSetWriter","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"},{"identifier":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"},{"identifier":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","name":"Phoenix Client","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.apache.phoenix.queryserver.client.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:phoenix:thin:url=https://cod-1v961glxjyns-gateway.mardiyan.a465-9q4k.cloudera.site/cod-1v961glxjyns/cdp-proxy-api/avatica/;serialization=PROTOBUF;authentication=BASIC;avatica_user=mardiyan;avatica_password=Manutdzone01*","dbcp-time-between-eviction-runs":"-1","Database User":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/cloudera/parcels/CDH/lib/phoenix_queryserver/phoenix-queryserver-client-6.0.0.7.2.12.2-5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"},{"identifier":"47267c56-0b32-3320-9297-e4e22d90dff2","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"84108fc7-6d8e-3e31-9332-90a8363763df"}],"variables":{"file_location":"s3a://mardiyan-aws-2201-bucket/data/tmp/cdp-odb-demo/","username":"mardiyan"},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}