xml-and-json/Reference_CDPODB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>665c69b7-017e-1000-159d-8e670baecea4</groupId>
    <name>Reference_CDPODB</name>
    <snippet>
        <processGroups>
            <id>84108fc7-6d8e-3e31-0000-000000000000</id>
            <parentGroupId>aa33a8e7-f38b-3764-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments/>
            <contents>
                <controllerServices>
                    <id>1d149266-ae36-3db3-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <versionedComponentId>47267c56-0b32-3320-9297-e4e22d90dff2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>b9eeecce-3cbd-3a93-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <versionedComponentId>c3a42bf8-951d-3537-b5f0-ef87c533b4af</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>&quot;</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>d9101ec0-4759-3541-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <versionedComponentId>870bd9b4-4c04-3c2f-8520-36e6c5f99418</versionedComponentId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Phoenix Client</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:phoenix:thin:url=https://cod-1v961glxjyns-gateway.mardiyan.a465-9q4k.cloudera.site/cod-1v961glxjyns/cdp-proxy-api/avatica/;serialization=PROTOBUF;authentication=BASIC;avatica_user=mardiyan;avatica_password=Manutdzone01*</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.apache.phoenix.queryserver.client.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/cloudera/parcels/CDH/lib/phoenix_queryserver/phoenix-queryserver-client-6.0.0.7.2.12.2-5.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <processGroups>
                    <id>08efb836-febb-38b3-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>280.0</y>
                    </position>
                    <comments/>
                    <contents>
                        <connections>
                            <id>045ce1e6-59f5-3bd1-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b3eccbb6-7215-3482-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>7c57b0cd-f41c-3758-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>05b849c5-2ba4-3738-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>9b40bac2-8e79-3898-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b902b5ac-41bd-3506-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1426e606-1c6f-3e17-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b283bf9a-6475-39ae-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>7c57b0cd-f41c-3758-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>459693e8-b8c0-3e9a-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b902b5ac-41bd-3506-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b3eccbb6-7215-3482-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5ed6e6e9-fbd5-3c8a-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1510.9999894293817</x>
<y>455.49992839422544</y>
                            </bends>
                            <bends>
<x>1510.9999894293817</x>
<y>505.49992839422544</y>
                            </bends>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b902b5ac-41bd-3506-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b902b5ac-41bd-3506-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9d981faf-a3b2-31aa-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>b7f90c89-d995-3d1b-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>7c57b0cd-f41c-3758-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bc521f16-10fb-3754-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>9b4d985b-393c-3383-bfda-c10754331176</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>9b833517-e3b4-353e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>ea8f216e-2778-3221-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e6056eb1-0ce6-3075-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>3ff214db-1507-352e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>9b833517-e3b4-353e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ebdf824f-a745-3f07-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>7c57b0cd-f41c-3758-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>08efb836-febb-38b3-0000-000000000000</groupId>
<id>3ff214db-1507-352e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>8fd12c28-ea59-3fd2-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1368.0</x>
<y>704.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>9b40bac2-8e79-3898-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1552.0</x>
<y>264.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b283bf9a-6475-39ae-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1784.0</x>
<y>912.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b7f90c89-d995-3d1b-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0</x>
<y>1136.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>eb5f40bc-7ff6-374f-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1336.0</x>
<y>952.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>3ff214db-1507-352e-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>296.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b9eeecce-3cbd-3a93-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>1d149266-ae36-3db3-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>7c57b0cd-f41c-3758-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1064.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>STORE</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>9b833517-e3b4-353e-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${file_location}/store.txt</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Pull-From-S3</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                        <processors>
                            <id>b3eccbb6-7215-3482-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1056.0</x>
<y>640.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>10 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>b902b5ac-41bd-3506-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>416.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>ea8f216e-2778-3221-0000-000000000000</id>
                            <parentGroupId>08efb836-febb-38b3-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>416.0</y>
                            </position>
                            <versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>600 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Store</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>2051c819-c38a-35e0-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <position>
                        <x>16.0</x>
                        <y>280.0</y>
                    </position>
                    <versionedComponentId>483e8a21-0de4-3281-883f-744dfc08edca</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>3e861135-ac5a-3645-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>270f415a-f36f-31de-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>08b5b1ba-0ed0-3c45-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5bb42726-84f9-3c22-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>9205d183-44e3-3329-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>270f415a-f36f-31de-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b47ddae3-7d5e-38d8-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>ac3a3213-b21c-3ff1-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>c5c057a1-c337-31d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c516f19a-002e-3b27-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1510.9999894293817</x>
<y>455.49992839422544</y>
                            </bends>
                            <bends>
<x>1510.9999894293817</x>
<y>505.49992839422544</y>
                            </bends>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>c5c057a1-c337-31d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>c5c057a1-c337-31d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>db1ab0d2-b561-37a4-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>100f5463-9da1-3e92-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>270f415a-f36f-31de-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>de43e2eb-ec71-32b0-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <versionedComponentId>9b4d985b-393c-3383-bfda-c10754331176</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>f2fb84cf-8f69-3a95-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>4e9de4f0-b045-30ba-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb4cf37a-f6de-37fa-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>c5c057a1-c337-31d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>100f5463-9da1-3e92-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f3a4a2e7-c311-3f18-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>95d7507f-0cb1-3a9e-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>270f415a-f36f-31de-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fae152d3-2252-3be4-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>08b5b1ba-0ed0-3c45-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2051c819-c38a-35e0-0000-000000000000</groupId>
<id>f2fb84cf-8f69-3a95-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>3badc971-4b82-3a3a-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1336.0</x>
<y>952.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>9205d183-44e3-3329-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0</x>
<y>1136.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>95d7507f-0cb1-3a9e-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1784.0</x>
<y>912.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>ac3a3213-b21c-3ff1-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1552.0</x>
<y>264.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>cb51d418-8909-37ec-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1368.0</x>
<y>704.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>08b5b1ba-0ed0-3c45-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>296.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b9eeecce-3cbd-3a93-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>1d149266-ae36-3db3-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>100f5463-9da1-3e92-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1056.0</x>
<y>640.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>10 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>270f415a-f36f-31de-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1064.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>CUSTOMER</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>4e9de4f0-b045-30ba-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>416.0</y>
                            </position>
                            <versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>600 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>c5c057a1-c337-31d6-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>416.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>f2fb84cf-8f69-3a95-0000-000000000000</id>
                            <parentGroupId>2051c819-c38a-35e0-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${file_location}/customer.txt</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Pull-From-S3</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>customer</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>321d4b08-67d3-3eeb-0000-000000000000</id>
                    <parentGroupId>84108fc7-6d8e-3e31-0000-000000000000</parentGroupId>
                    <position>
                        <x>944.0</x>
                        <y>280.0</y>
                    </position>
                    <comments/>
                    <contents>
                        <connections>
                            <id>2bfb8403-7d6c-3e64-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>311c54ee-9a65-3a98-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>76c35ce3-da7f-3c43-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>45f12474-698d-31e4-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>50b2dfb7-1bab-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>6609fe51-9676-3887-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>56f45803-9d0e-30f7-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1510.9999894293817</x>
<y>455.49992839422544</y>
                            </bends>
                            <bends>
<x>1510.9999894293817</x>
<y>505.49992839422544</y>
                            </bends>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>50b2dfb7-1bab-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>50b2dfb7-1bab-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>65a5598d-7228-3757-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>811312cb-c50a-305e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>311c54ee-9a65-3a98-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7fd57b97-b651-3e10-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <versionedComponentId>9b4d985b-393c-3383-bfda-c10754331176</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>76c35ce3-da7f-3c43-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>448f2dfe-ff3a-37cb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>aa116414-6ff9-3772-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>bd50e108-4a9a-3bdb-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>811312cb-c50a-305e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>acbbf7e8-589a-30a9-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>a7beef92-b3f4-3e5e-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>811312cb-c50a-305e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b85cc85e-536d-3850-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>b95b2f69-fb02-3fa6-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>50b2dfb7-1bab-31b3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e185b3b6-0d48-35e1-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>6609fe51-9676-3887-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>321d4b08-67d3-3eeb-0000-000000000000</groupId>
<id>811312cb-c50a-305e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>0f04fe8b-3839-3647-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1336.0</x>
<y>952.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>a7beef92-b3f4-3e5e-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1784.0</x>
<y>912.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b95b2f69-fb02-3fa6-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1552.0</x>
<y>264.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>bd50e108-4a9a-3bdb-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0</x>
<y>1136.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>f4ed049f-e667-3e65-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1368.0</x>
<y>704.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>311c54ee-9a65-3a98-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>296.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b9eeecce-3cbd-3a93-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>1d149266-ae36-3db3-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>448f2dfe-ff3a-37cb-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>416.0</y>
                            </position>
                            <versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>600 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>50b2dfb7-1bab-31b3-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>416.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>6609fe51-9676-3887-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1056.0</x>
<y>640.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>10 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>76c35ce3-da7f-3c43-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${file_location}/product_ref.txt</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Pull-From-S3</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                        <processors>
                            <id>811312cb-c50a-305e-0000-000000000000</id>
                            <parentGroupId>321d4b08-67d3-3eeb-0000-000000000000</parentGroupId>
                            <position>
<x>1064.0</x>
<y>872.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9101ec0-4759-3541-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>PRODUCT_REF</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Product Ref</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Reference</name>
            <variables>
                <entry>
                    <key>file_location</key>
                    <value>s3a://mardiyan-aws-2201-bucket/data/tmp/cdp-odb-demo/</value>
                </entry>
                <entry>
                    <key>username</key>
                    <value>mardiyan</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>01/18/2022 04:00:54 UTC</timestamp>
</template>