xml-and-json/Transaction_to_Hbase.json
{"flowContents":{"identifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded","name":"Transaction to Hbase","comments":"","position":{"x":-328.0,"y":720.0},"processGroups":[{"identifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"kafka to hbase","comments":"","position":{"x":672.0,"y":528.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","name":"Enrichment","comments":"","position":{"x":1232.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"Enrichment":"select *, '${now():format(\"MM/dd/yyyy HH:mm:ss\")}' as process_date\nFROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"Enrichment":{"name":"Enrichment","displayName":"Enrichment","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"b7e8af27-8a99-3226-8a7f-43fb0af9dde2","name":"Transaction-4 Kafka Stream","comments":"","position":{"x":520.0,"y":1144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"${username}","max.poll.records":"10000","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","group.id":"Transaction-4-Group","bootstrap.servers":"${kafkabrokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max-uncommit-offset-wait":"20 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"Transaction-4","separate-by-key":"false","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"ee6352d1-09e1-3643-875d-5a1dc7b2ce33","name":"Transaction-1 Kafka Stream","comments":"","position":{"x":520.0,"y":424.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"${username}","max.poll.records":"10000","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","group.id":"Transaction-1-Group","bootstrap.servers":"${kafkabrokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max-uncommit-offset-wait":"20 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"Transaction-1","separate-by-key":"false","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"50e2aa37-952c-34db-98d5-5e9a3e724551","name":"Transaction-5 Kafka Stream","comments":"","position":{"x":520.0,"y":1400.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"${username}","max.poll.records":"10000","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","group.id":"Transaction-5-Group","bootstrap.servers":"${kafkabrokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max-uncommit-offset-wait":"20 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"Transaction-5","separate-by-key":"false","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"4d797d5f-44b4-376f-98b3-60fc2ed29645","name":"Transaction-3 Kafka Stream","comments":"","position":{"x":520.0,"y":896.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"${username}","max.poll.records":"10000","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","group.id":"Transaction-3-Group","bootstrap.servers":"${kafkabrokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max-uncommit-offset-wait":"20 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"Transaction-3","separate-by-key":"false","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"5bd70d19-5959-3fff-bac9-8a501c225fa4","name":"ReplaceText","comments":"","position":{"x":1856.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"INSERT","Replacement Value":"UPSERT","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"50 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"05317cdb-7f52-3f95-8908-772861327d5e","name":"Transaction-2 Kafka Stream","comments":"","position":{"x":520.0,"y":656.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"${username}","max.poll.records":"10000","record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","group.id":"Transaction-2-Group","bootstrap.servers":"${kafkabrokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max-uncommit-offset-wait":"20 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"Transaction-2","separate-by-key":"false","record-reader":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"d521d3fb-58ef-38cf-a5aa-6ffd328509a9","name":"ConvertJSONToSQL","comments":"","position":{"x":1864.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"TRANSACTION","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"2052f200-2457-3342-8644-d60f3e8ac7b6","name":"PutSQL","comments":"","position":{"x":1848.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"1000","Obtain Generated Keys":"false","JDBC Connection Pool":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"beabbe48-3061-3edb-960e-befa5e0f4f95","name":"","source":{"id":"d521d3fb-58ef-38cf-a5aa-6ffd328509a9","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"8029c6e3-bbc2-3161-9056-4c6471f04285","type":"FUNNEL","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"ed171eb0-a5ab-300e-b8f9-11fffe65cda2","name":"","source":{"id":"b7e8af27-8a99-3226-8a7f-43fb0af9dde2","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Transaction-4 Kafka Stream","comments":""},"destination":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"ed99d56e-b4c1-31e1-b209-8219bad99aec","name":"","source":{"id":"d521d3fb-58ef-38cf-a5aa-6ffd328509a9","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"1f46be36-ec1d-308e-9f6f-d875cf7d2d3d","type":"FUNNEL","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"8dabfe4a-3acb-30d3-84a2-b19125703ad4","name":"","source":{"id":"05317cdb-7f52-3f95-8908-772861327d5e","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Transaction-2 Kafka Stream","comments":""},"destination":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"a2662309-4a1d-31bc-9c6f-e45cfa3bbf96","name":"","source":{"id":"5bd70d19-5959-3fff-bac9-8a501c225fa4","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ReplaceText","comments":""},"destination":{"id":"2052f200-2457-3342-8644-d60f3e8ac7b6","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"d738f562-bbf2-33d7-8208-b838f34374be","name":"","source":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"destination":{"id":"d521d3fb-58ef-38cf-a5aa-6ffd328509a9","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Enrichment"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"2d1f5a2e-0dfa-3aaa-a1f6-b2d3b2b7ca8a","name":"","source":{"id":"50e2aa37-952c-34db-98d5-5e9a3e724551","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Transaction-5 Kafka Stream","comments":""},"destination":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"6b138698-3b6d-3788-89a5-6d60bd4880e7","name":"","source":{"id":"4d797d5f-44b4-376f-98b3-60fc2ed29645","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Transaction-3 Kafka Stream","comments":""},"destination":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"ce23717f-8499-3637-8745-dcd41f97b176","name":"","source":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"destination":{"id":"a9b77888-cc63-3eb3-afa2-0d58bca57c92","type":"FUNNEL","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"26b4e363-87d3-3f88-9135-e4561f0ccb22","name":"","source":{"id":"2052f200-2457-3342-8644-d60f3e8ac7b6","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"PutSQL","comments":""},"destination":{"id":"ced217a1-04f0-36e6-bff0-d6735697c6c7","type":"FUNNEL","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"bd133119-7722-337a-a3b2-ab35419ca1da","name":"","source":{"id":"d521d3fb-58ef-38cf-a5aa-6ffd328509a9","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"5bd70d19-5959-3fff-bac9-8a501c225fa4","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"a0914fb4-001a-3e6c-9416-4c01bdfbab09","name":"","source":{"id":"ee6352d1-09e1-3643-875d-5a1dc7b2ce33","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Transaction-1 Kafka Stream","comments":""},"destination":{"id":"0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"Enrichment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"84d0aabf-1d82-399a-b126-0406c8734fde","name":"","source":{"id":"2052f200-2457-3342-8644-d60f3e8ac7b6","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"PutSQL","comments":""},"destination":{"id":"2052f200-2457-3342-8644-d60f3e8ac7b6","type":"PROCESSOR","groupId":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2314.0,"y":454.0},{"x":2314.0,"y":504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"}],"labels":[],"funnels":[{"identifier":"7f61135c-5325-34bd-a173-0f79fed5d654","position":{"x":2136.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"1f46be36-ec1d-308e-9f6f-d875cf7d2d3d","position":{"x":2024.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"ced217a1-04f0-36e6-bff0-d6735697c6c7","position":{"x":2352.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"a9b77888-cc63-3eb3-afa2-0d58bca57c92","position":{"x":1344.0,"y":1160.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"16f63cbe-e1f3-38fd-965c-509af4740e5b","position":{"x":2168.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"},{"identifier":"8029c6e3-bbc2-3161-9056-4c6471f04285","position":{"x":2584.0,"y":912.0},"componentType":"FUNNEL","groupIdentifier":"fc1a37e2-33e3-3e75-8f6d-5a913848fa1c"}],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"},{"identifier":"483e8a21-0de4-3281-883f-744dfc08edca","name":"publish to kafka","comments":"","position":{"x":168.0,"y":528.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","name":"GenerateFlowFile","comments":"","position":{"x":288.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"ca638278-e88b-3e4a-b77c-05ac4c03c6c9","name":"Transaction-4 Kafka Stream","comments":"","position":{"x":1104.0,"y":1088.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","bootstrap.servers":"${kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"20 sec","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 sec","sasl.username":"${username}","use-transactions":"false","acks":"1","security.protocol":"SASL_SSL","ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Transaction-4"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","name":"Split Per Factory","comments":"","position":{"x":288.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"Transaction-5":"Select * from FLOWFILE where store_id = 5","cache-schema":"true","dbf-default-precision":"10","Transaction-3":"Select * from FLOWFILE where store_id = 3","Transaction-4":"Select * from FLOWFILE where store_id = 4","Transaction-1":"Select * from FLOWFILE where store_id = 1","Transaction-2":"Select * from FLOWFILE where store_id = 2","record-writer":"d81d7216-5d8b-309c-9436-c2428b6a2488","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"Transaction-5":{"name":"Transaction-5","displayName":"Transaction-5","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Transaction-3":{"name":"Transaction-3","displayName":"Transaction-3","identifiesControllerService":false,"sensitive":false},"Transaction-4":{"name":"Transaction-4","displayName":"Transaction-4","identifiesControllerService":false,"sensitive":false},"Transaction-1":{"name":"Transaction-1","displayName":"Transaction-1","identifiesControllerService":false,"sensitive":false},"Transaction-2":{"name":"Transaction-2","displayName":"Transaction-2","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"1290ee74-6f7c-30da-91a4-c103bda22023","name":"Transaction-5 Kafka Stream","comments":"","position":{"x":1096.0,"y":1288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","bootstrap.servers":"${kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"20 sec","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 sec","sasl.username":"${username}","use-transactions":"false","acks":"1","security.protocol":"SASL_SSL","ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Transaction-5"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"f1552a8e-c0b1-318f-a663-44bc3965290f","name":"Pull-From-S3","comments":"","position":{"x":288.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","properties":{"HDFS Filename":"${file_location}/transaction.txt","Hadoop Configuration Resources":"/etc/hadoop/conf.cloudera.core_settings/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"${username}","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"dd4a6bd0-0859-3823-8802-991e81b2dd65","name":"Transaction-2 Kafka Stream","comments":"","position":{"x":1112.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","bootstrap.servers":"${kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"20 sec","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 sec","sasl.username":"${username}","use-transactions":"false","acks":"1","security.protocol":"SASL_SSL","ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Transaction-2"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"65ada9ae-5bbf-314e-a4d6-ea0118f413d6","name":"Transaction-3 Kafka Stream","comments":"","position":{"x":1120.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","bootstrap.servers":"${kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"20 sec","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 sec","sasl.username":"${username}","use-transactions":"false","acks":"1","security.protocol":"SASL_SSL","ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Transaction-3"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"0fbc943a-420d-317e-9f6b-e96026b823b0","name":"Transaction-1 Kafka Stream","comments":"","position":{"x":1104.0,"y":384.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"47267c56-0b32-3320-9297-e4e22d90dff2","bootstrap.servers":"${kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"20 sec","record-reader":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 sec","sasl.username":"${username}","use-transactions":"false","acks":"1","security.protocol":"SASL_SSL","ssl.context.service":"0fdcca64-dcca-3f03-8950-2ef54f041837","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Transaction-1"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a21b6dde-4657-39cf-8860-0c8d7a299a47","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"0fbc943a-420d-317e-9f6b-e96026b823b0","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Transaction-1 Kafka Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Transaction-1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"8a7cd6ed-95bf-3b9c-bba7-68ea066f41ad","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"1290ee74-6f7c-30da-91a4-c103bda22023","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Transaction-5 Kafka Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Transaction-5"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"90734c1f-da6f-31c7-8abf-a440af5b9c27","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"ca638278-e88b-3e4a-b77c-05ac4c03c6c9","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Transaction-4 Kafka Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Transaction-4"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"6878714b-9e89-3bff-849f-e9d6e89f997a","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"925f4f76-acf0-3c11-829e-1a4e7793efa0","type":"FUNNEL","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"257059b0-22d7-3b51-9fd0-16b1189fb06f","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"dd4a6bd0-0859-3823-8802-991e81b2dd65","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Transaction-2 Kafka Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Transaction-2"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"04f3c30b-c503-3d1c-a926-ad12930831b5","name":"","source":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Pull-From-S3","comments":""},"destination":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"9b4d985b-393c-3383-bfda-c10754331176","name":"","source":{"id":"bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"GenerateFlowFile","comments":""},"destination":{"id":"f1552a8e-c0b1-318f-a663-44bc3965290f","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Pull-From-S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"},{"identifier":"b728866f-10ee-32cc-a160-225bafc230a0","name":"","source":{"id":"3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Split Per Factory","comments":""},"destination":{"id":"65ada9ae-5bbf-314e-a4d6-ea0118f413d6","type":"PROCESSOR","groupId":"483e8a21-0de4-3281-883f-744dfc08edca","name":"Transaction-3 Kafka Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Transaction-3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"labels":[],"funnels":[{"identifier":"925f4f76-acf0-3c11-829e-1a4e7793efa0","position":{"x":64.46809904487009,"y":1119.262271451945},"componentType":"FUNNEL","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"controllerServices":[{"identifier":"d81d7216-5d8b-309c-9436-c2428b6a2488","name":"CSVRecordSetWriter","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"483e8a21-0de4-3281-883f-744dfc08edca"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c3a42bf8-951d-3537-b5f0-ef87c533b4af","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"},{"identifier":"20804e61-30a7-3b52-b3f1-d7412dc5c3f1","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"},{"identifier":"870bd9b4-4c04-3c2f-8520-36e6c5f99418","name":"Phoenix Client","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.apache.phoenix.queryserver.client.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:phoenix:thin:url=https://cod-1v961glxjyns-gateway.mardiyan.a465-9q4k.cloudera.site/cod-1v961glxjyns/cdp-proxy-api/avatica/;serialization=PROTOBUF;authentication=BASIC;avatica_user=mardiyan;avatica_password=Manutdzone01*","dbcp-time-between-eviction-runs":"-1","Database User":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/cloudera/parcels/CDH/lib/phoenix_queryserver/phoenix-queryserver-client-6.0.0.7.2.12.2-5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"},{"identifier":"47267c56-0b32-3320-9297-e4e22d90dff2","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"98e5c8a0-2ec1-32b3-b82f-7bbdcbe69ded"}],"variables":{"file_location":"s3a://mardiyan-aws-2201-bucket/data/tmp/cdp-odb-demo/","kafkabrokers":"mardiyan-sm-corebroker1.mardiyan.a465-9q4k.cloudera.site:9093,mardiyan-sm-corebroker2.mardiyan.a465-9q4k.cloudera.site:9093,mardiyan-sm-corebroker0.mardiyan.a465-9q4k.cloudera.site:9093","username":"mardiyan"},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"0fdcca64-dcca-3f03-8950-2ef54f041837":{"identifier":"0fdcca64-dcca-3f03-8950-2ef54f041837","name":"Default NiFi SSL Context Service"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}