xml-and-json/Transaction_to_Hbase.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>665c69b7-017e-1000-159d-8e670baecea4</groupId>
    <name>Transaction_to_Hbase</name>
    <snippet>
        <controllerServices>
            <id>0fdcca64-dcca-3f03-0000-000000000000</id>
            <parentGroupId>aa33a8e7-f38b-3764-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2.2.2.3.2-5</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>Default NiFi SSL Context Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <processGroups>
            <id>98e5c8a0-2ec1-32b3-0000-000000000000</id>
            <parentGroupId>aa33a8e7-f38b-3764-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments/>
            <contents>
                <controllerServices>
                    <id>34de298b-60b0-3efd-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <versionedComponentId>c3a42bf8-951d-3537-b5f0-ef87c533b4af</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>&quot;</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>42e9e47e-d9f2-3bee-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <versionedComponentId>47267c56-0b32-3320-9297-e4e22d90dff2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>e4588a6b-b14b-313e-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <versionedComponentId>870bd9b4-4c04-3c2f-8520-36e6c5f99418</versionedComponentId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <comments/>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Phoenix Client</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:phoenix:thin:url=https://cod-1v961glxjyns-gateway.mardiyan.a465-9q4k.cloudera.site/cod-1v961glxjyns/cdp-proxy-api/avatica/;serialization=PROTOBUF;authentication=BASIC;avatica_user=mardiyan;avatica_password=Manutdzone01*</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.apache.phoenix.queryserver.client.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/cloudera/parcels/CDH/lib/phoenix_queryserver/phoenix-queryserver-client-6.0.0.7.2.12.2-5.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>e89a6aa6-936a-3baa-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <versionedComponentId>20804e61-30a7-3b52-b3f1-d7412dc5c3f1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.2.3.2-5</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <processGroups>
                    <id>8bf52553-c1a5-398e-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>528.0</y>
                    </position>
                    <versionedComponentId>fc1a37e2-33e3-3e75-8f6d-5a913848fa1c</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>07302407-0d69-3d91-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>a2662309-4a1d-31bc-9c6f-e45cfa3bbf96</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>7e19c4c9-1446-314e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2052f200-2457-3342-8644-d60f3e8ac7b6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>41f04b6c-06d6-3f91-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5bd70d19-5959-3fff-bac9-8a501c225fa4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>10ce8a10-6c9d-3bdb-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>d738f562-bbf2-33d7-8208-b838f34374be</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e806b713-d232-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d521d3fb-58ef-38cf-a5aa-6ffd328509a9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Enrichment</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>289d50ee-a424-36e3-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>beabbe48-3061-3edb-960e-befa5e0f4f95</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>8b6863ad-60c5-3fcc-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>8029c6e3-bbc2-3161-9056-4c6471f04285</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e806b713-d232-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d521d3fb-58ef-38cf-a5aa-6ffd328509a9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2d1f5a2e-0dfa-3aaa-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>50e2aa37-952c-34db-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2d9cd57e-cc24-3d18-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>ed171eb0-a5ab-300e-b8f9-11fffe65cda2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>987353b3-5af4-3b75-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b7e8af27-8a99-3226-8a7f-43fb0af9dde2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3b50ea3a-0c48-34dd-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>ed99d56e-b4c1-31e1-b209-8219bad99aec</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>a13fd417-7ac6-337a-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>1f46be36-ec1d-308e-9f6f-d875cf7d2d3d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e806b713-d232-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d521d3fb-58ef-38cf-a5aa-6ffd328509a9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>407e1f35-1ce4-32cb-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>26b4e363-87d3-3f88-9135-e4561f0ccb22</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e0f69909-2d14-3937-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ced217a1-04f0-36e6-bff0-d6735697c6c7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>7e19c4c9-1446-314e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2052f200-2457-3342-8644-d60f3e8ac7b6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>456f6893-a7da-3193-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>6b138698-3b6d-3788-89a5-6d60bd4880e7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e1657e4c-d324-3fb3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4d797d5f-44b4-376f-98b3-60fc2ed29645</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>52588c1c-d306-31ef-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>84d0aabf-1d82-399a-b126-0406c8734fde</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>2314.0</x>
<y>454.0</y>
                            </bends>
                            <bends>
<x>2314.0</x>
<y>504.0</y>
                            </bends>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>7e19c4c9-1446-314e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2052f200-2457-3342-8644-d60f3e8ac7b6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>7e19c4c9-1446-314e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2052f200-2457-3342-8644-d60f3e8ac7b6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a0914fb4-001a-3e6c-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>ee6352d1-09e1-3643-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d9993702-4ab5-3f3e-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>ce23717f-8499-3637-8745-dcd41f97b176</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>2f4a17eb-ebef-3470-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>a9b77888-cc63-3eb3-afa2-0d58bca57c92</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e9173d6e-f1fd-30ad-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>8dabfe4a-3acb-30d3-84a2-b19125703ad4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>66e9bffd-8ecf-33cf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>f345e9da-fcc8-3bc2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>05317cdb-7f52-3f95-8908-772861327d5e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb3d8452-8c0a-385d-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <versionedComponentId>bd133119-7722-337a-a3b2-ab35419ca1da</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>41f04b6c-06d6-3f91-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5bd70d19-5959-3fff-bac9-8a501c225fa4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>8bf52553-c1a5-398e-0000-000000000000</groupId>
<id>e806b713-d232-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d521d3fb-58ef-38cf-a5aa-6ffd328509a9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>2f4a17eb-ebef-3470-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>1344.0</x>
<y>1160.0</y>
                            </position>
                            <versionedComponentId>a9b77888-cc63-3eb3-afa2-0d58bca57c92</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>36e52f91-8cf7-3fbf-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>2136.0</x>
<y>952.0</y>
                            </position>
                            <versionedComponentId>7f61135c-5325-34bd-a173-0f79fed5d654</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>8b6863ad-60c5-3fcc-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>2584.0</x>
<y>912.0</y>
                            </position>
                            <versionedComponentId>8029c6e3-bbc2-3161-9056-4c6471f04285</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>8e3af258-ebb0-30ce-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>2168.0</x>
<y>704.0</y>
                            </position>
                            <versionedComponentId>16f63cbe-e1f3-38fd-965c-509af4740e5b</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>a13fd417-7ac6-337a-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>2024.0</x>
<y>1136.0</y>
                            </position>
                            <versionedComponentId>1f46be36-ec1d-308e-9f6f-d875cf7d2d3d</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>e0f69909-2d14-3937-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>2352.0</x>
<y>264.0</y>
                            </position>
                            <versionedComponentId>ced217a1-04f0-36e6-bff0-d6735697c6c7</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>41f04b6c-06d6-3f91-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>1856.0</x>
<y>640.0</y>
                            </position>
                            <versionedComponentId>5bd70d19-5959-3fff-bac9-8a501c225fa4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>50 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>50e2aa37-952c-34db-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>520.0</x>
<y>1400.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-5</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>Transaction-5-Group</value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>20 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-5 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>66e9bffd-8ecf-33cf-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>1232.0</x>
<y>872.0</y>
                            </position>
                            <versionedComponentId>0fc53ff4-ba31-3beb-9765-8f8ce64d1a9a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>
            <name>cache-schema</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>Enrichment</key>
        <value>
            <name>Enrichment</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>true</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Enrichment</key>
        <value>select *, &apos;${now():format(&quot;MM/dd/yyyy HH:mm:ss&quot;)}&apos; as process_date
FROM FLOWFILE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Enrichment</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Enrichment</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryRecord</type>
                        </processors>
                        <processors>
                            <id>7e19c4c9-1446-314e-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>1848.0</x>
<y>416.0</y>
                            </position>
                            <versionedComponentId>2052f200-2457-3342-8644-d60f3e8ac7b6</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>e4588a6b-b14b-313e-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>987353b3-5af4-3b75-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>520.0</x>
<y>1144.0</y>
                            </position>
                            <versionedComponentId>b7e8af27-8a99-3226-8a7f-43fb0af9dde2</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-4</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>Transaction-4-Group</value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>20 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-4 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>e1657e4c-d324-3fb3-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>520.0</x>
<y>896.0</y>
                            </position>
                            <versionedComponentId>4d797d5f-44b4-376f-98b3-60fc2ed29645</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-3</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>Transaction-3-Group</value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>20 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-3 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>e806b713-d232-32a8-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>1864.0</x>
<y>872.0</y>
                            </position>
                            <versionedComponentId>d521d3fb-58ef-38cf-a5aa-6ffd328509a9</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>e4588a6b-b14b-313e-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>TRANSACTION</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>ee6352d1-09e1-3643-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>520.0</x>
<y>424.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-1</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>Transaction-1-Group</value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>20 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-1 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>f345e9da-fcc8-3bc2-0000-000000000000</id>
                            <parentGroupId>8bf52553-c1a5-398e-0000-000000000000</parentGroupId>
                            <position>
<x>520.0</x>
<y>656.0</y>
                            </position>
                            <versionedComponentId>05317cdb-7f52-3f95-8908-772861327d5e</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-2</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>e89a6aa6-936a-3baa-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>Transaction-2-Group</value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>20 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-2 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>kafka to hbase</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cd660c3e-08bd-32b3-0000-000000000000</id>
                    <parentGroupId>98e5c8a0-2ec1-32b3-0000-000000000000</parentGroupId>
                    <position>
                        <x>168.0</x>
                        <y>528.0</y>
                    </position>
                    <versionedComponentId>483e8a21-0de4-3281-883f-744dfc08edca</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>6878714b-9e89-3bff-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>925f4f76-acf0-3c11-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8a7cd6ed-95bf-3b9c-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>1290ee74-6f7c-30da-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Transaction-5</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8f962b7c-e4ab-304d-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>04f3c30b-c503-3d1c-a926-ad12930831b5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>97d89c15-3652-3f30-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9fa83fa7-364f-39e0-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>257059b0-22d7-3b51-9fd0-16b1189fb06f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>fd664f44-6ddd-3055-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dd4a6bd0-0859-3823-8802-991e81b2dd65</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Transaction-2</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a21b6dde-4657-39cf-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>0fbc943a-420d-317e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Transaction-1</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b944d803-4e60-3967-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>b728866f-10ee-32cc-a160-225bafc230a0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>511f45e8-841b-36b8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>65ada9ae-5bbf-314e-a4d6-ea0118f413d6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Transaction-3</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d0ce945d-2c02-3f6d-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>9b4d985b-393c-3383-bfda-c10754331176</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>97d89c15-3652-3f30-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>6a20da68-526d-32e2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ebdfe328-6d1d-3e49-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>90734c1f-da6f-31c7-8abf-a440af5b9c27</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>0add92b2-e0ff-3a96-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ca638278-e88b-3e4a-b77c-05ac4c03c6c9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Transaction-4</selectedRelationships>
                            <source>
<groupId>cd660c3e-08bd-32b3-0000-000000000000</groupId>
<id>16ca6cb1-4175-3c55-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>c0343697-bc52-371a-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <versionedComponentId>d81d7216-5d8b-309c-9436-c2428b6a2488</versionedComponentId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>&quot;</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <funnels>
                            <id>925f4f76-acf0-3c11-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>64.46809904487009</x>
<y>1119.262271451945</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>0add92b2-e0ff-3a96-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>1088.0</y>
                            </position>
                            <versionedComponentId>ca638278-e88b-3e4a-b77c-05ac4c03c6c9</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-4</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>1</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>20 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-4 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>0fbc943a-420d-317e-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>1104.0</x>
<y>384.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-1</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>1</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>20 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-1 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>1290ee74-6f7c-30da-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>1288.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-5</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>1</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>20 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-5 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>16ca6cb1-4175-3c55-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>864.0</y>
                            </position>
                            <versionedComponentId>3b4e5fb4-2dd7-3ef2-952e-bf5f585a6a26</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>
            <name>cache-schema</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>Transaction-1</key>
        <value>
            <name>Transaction-1</name>
        </value>
    </entry>
    <entry>
        <key>Transaction-2</key>
        <value>
            <name>Transaction-2</name>
        </value>
    </entry>
    <entry>
        <key>Transaction-3</key>
        <value>
            <name>Transaction-3</name>
        </value>
    </entry>
    <entry>
        <key>Transaction-4</key>
        <value>
            <name>Transaction-4</name>
        </value>
    </entry>
    <entry>
        <key>Transaction-5</key>
        <value>
            <name>Transaction-5</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>c0343697-bc52-371a-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>true</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Transaction-1</key>
        <value>Select * from FLOWFILE where store_id = 1</value>
    </entry>
    <entry>
        <key>Transaction-2</key>
        <value>Select * from FLOWFILE where store_id = 2</value>
    </entry>
    <entry>
        <key>Transaction-3</key>
        <value>Select * from FLOWFILE where store_id = 3</value>
    </entry>
    <entry>
        <key>Transaction-4</key>
        <value>Select * from FLOWFILE where store_id = 4</value>
    </entry>
    <entry>
        <key>Transaction-5</key>
        <value>Select * from FLOWFILE where store_id = 5</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split Per Factory</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Transaction-1</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Transaction-2</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Transaction-3</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Transaction-4</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Transaction-5</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryRecord</type>
                        </processors>
                        <processors>
                            <id>511f45e8-841b-36b8-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>1120.0</x>
<y>864.0</y>
                            </position>
                            <versionedComponentId>65ada9ae-5bbf-314e-a4d6-ea0118f413d6</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-3</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>1</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>20 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-3 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>6a20da68-526d-32e2-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>416.0</y>
                            </position>
                            <versionedComponentId>bd795968-e3c2-3a8a-b2d2-2f8ddd9e5667</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>600 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>97d89c15-3652-3f30-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>624.0</y>
                            </position>
                            <versionedComponentId>f1552a8e-c0b1-318f-a663-44bc3965290f</versionedComponentId>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${file_location}/transaction.txt</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Pull-From-S3</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                        <processors>
                            <id>fd664f44-6ddd-3055-0000-000000000000</id>
                            <parentGroupId>cd660c3e-08bd-32b3-0000-000000000000</parentGroupId>
                            <position>
<x>1112.0</x>
<y>640.0</y>
                            </position>
                            <versionedComponentId>dd4a6bd0-0859-3823-8802-991e81b2dd65</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.2.3.2-5</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${kafkabrokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>Transaction-2</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>34de298b-60b0-3efd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>42e9e47e-d9f2-3bee-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>1</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>${username}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>0fdcca64-dcca-3f03-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>20 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transaction-2 Kafka Stream</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>publish to kafka</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Transaction to Hbase</name>
            <variables>
                <entry>
                    <key>file_location</key>
                    <value>s3a://mardiyan-aws-2201-bucket/data/tmp/cdp-odb-demo/</value>
                </entry>
                <entry>
                    <key>kafkabrokers</key>
                    <value>mardiyan-sm-corebroker1.mardiyan.a465-9q4k.cloudera.site:9093,mardiyan-sm-corebroker2.mardiyan.a465-9q4k.cloudera.site:9093,mardiyan-sm-corebroker0.mardiyan.a465-9q4k.cloudera.site:9093</value>
                </entry>
                <entry>
                    <key>username</key>
                    <value>mardiyan</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>01/18/2022 11:18:53 UTC</timestamp>
</template>